.register-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
  width: 16em;
  height: 30vh;
  border-radius: 5px;
  background: white;
}

.register-form label {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

.register-form input {
  margin-top: 0.5em;
  height: 3vh;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.register-form button {
  cursor: pointer;
  margin-top: 2.8em;
  height: 3vh;
  border: 0px;
  border-radius: 5px;
  background: #006097;
  color: aliceblue;
}
